.user{
   width: 80%;
   margin: auto;
   padding: 100px 110px 80px 110px;
   background-color: #ffffff;
   border-radius: 15px;
   box-sizing: border-box;
}

.title{
    
        font-family: 'Merriweather', serif;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 2.5em;
        cursor: pointer;
    
}

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 80px 0 55px 0;
}



