.usercardContainer {
    flex-basis: 32%;
    height: 240px;
    background-color: rgb(251, 252, 256);
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;

}

.titleContainer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.usercardContainer h2 {
    font-family: 'Merriweather', serif;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;

}

.usercardContainer h3 {
    padding: 3px 0;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 20PX;
}


.usercardContainer:hover {
    border: 1px solid #C9D0E9;
    box-shadow: 0 0 20px 3px #C9D0E9;
}