.iconHeader{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin: 10px 0;

}

.iconHeaderImg{
    width: 52%;
    margin-left: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.headerImgContainer{
    height: 820px;
    display: flex;
  

}


.headerCoverImg img{
    width: 57%;
   position: absolute;
    right: 0;
}

.headerTitle{
    color: #7E1F5B;
    margin-left: 120px;
    margin-top: 160px;
    width: 32%;
  
   
}

.headerTitle h3{
    font-size: 23.5px;
    font-weight:500 ;
    margin-bottom: 30px;
   
}
.headerTitle h1{
    font-size: 71px;
    letter-spacing: 4px;
    word-spacing: 1.3;
    font-weight:300 ;
    letter-spacing: -1px;
}

.headerTitle h1 span{
    font-weight:600 ;
   
    letter-spacing: 0;
}

.headerTitle select{
   width: 710px;
   height: 70px;
  font-size: 18px;
  padding:20px ;
  border: 1px solid black;
    position: relative;
    z-index: 1;
  margin-top: 80px;
}


.headerTitle button{
    margin-top :30px;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    max-width: 200px;
    
    background-color: #7E1F5B;
    color: #ffffff;
    border: none;
}

