header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 3px 1px #000000;
    box-shadow: 0px 5px 5px 0px #0000001a;
    background-color: #fff;
    position: sticky;
    top: 0;

    h2 {
        padding-left: 50px;
        font-size: 18px;
        font-weight: 500;
        margin: 22px 0;
    }
}

.buttonContainer {
    button {
        box-sizing: border-box;
        font-size: 15px;
        font-weight: 600;
        border: none;
        background-color: #fff;
        margin: 29px 35px 0 35px;

    }

    a {
        padding: 0 0 16.5px 0;
        color: #000;
    }
}

// .buttonContainer a{
//     padding: 0 0 16.5px 0;
//     color: #000;
// }
.active {
    border-bottom: 9px #000000 solid;
}

.headerName {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    h3 {
        font-size: 14px;
        font-weight: 600;
    }

    span {
        padding: 5px 0 0 7px;
        font-size: 13px;
        font-weight: 100;
    }
}

a {
    text-decoration: none;
}

.logo {
    font-size: 18.8px;
    font-weight: 500;
    color: #000;
}