$myColor: #FFF;


.cartCardContainer{
   display: flex;
   background-color: $myColor;
   background-color:$myColor;
   margin-left: 20px;
   border-radius: 10px;
   box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
   position: relative;
   margin-bottom: 40px;

}

.imgContainer{
    position: absolute;
    top: 13px;
    left: -20px;
    height: 80px;
    width: 120px;
    img{
        border-radius: 10px;
    }
    
}

.cartdetailsContainer{
    h3{
   
        width: 185px;
        font-size: 13px;
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    h4{
        margin-top: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        padding-bottom:20px ;
    }

}
.cartCardWrapper{
    padding-top: 20px;
    padding-left: 110px
}

.cartButton{
    padding: 8px 13px;
    border-radius: 0 0 4px 0;
    font-size: 10px;
    background-color: #000000;
    color:$myColor;
    border: none;
    position: absolute;
    right: 20px;
    top: 65px;
}

.buttonContainer{
    display: flex;
    background-color: $myColor;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 2px #0000001a;
    position: absolute;
    right: 20px;
    top: 65px;
    p{
        font-size: 12px;
        padding: 4px 10px;
        
      }
}

.aggregateButton{
  border: none;
  font-size: 15px;
  background-color:$myColor;
  padding: 0 10px;
}