.sideBarContainer {
  padding: 50px 50px 70px;
  width: 270px;
  height: 100vh;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black-color);

  h2 {
    font-size: 27px;
    font-weight: 400;
    word-spacing: 2;
   
    span {
      color: #b355b7;
    }
  }
}


.checkBoxContainer {
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;

  h3 {
    font-size: 17px;
    padding: 20px 0 0;
    font-family:'IBM Plex Sans', sans-serif;
  }

  div {
    margin: 16px 0;
    display: flex;
    align-items: center;
  }
  input {
  margin-right:13px ;
    accent-color: #b355b7;
    width: 1rem;
    height: 1rem
  }
}

.sideBarLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  button{
   border: none;
   color: var(--black-color);
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0;
    background-color: var(--primary-bg);
  }

}