.sitbackCardContainer{
    width: 83%;
    margin: 53px auto;
    h2{
        font-weight: 400;
        font-size: 45px;
       
    }
    h3{
        padding:0px 0 24px 0;
        font-weight: 300;
        font-size: 30px;
       
    }

}


.categoryCardContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
}
.copyRightContainer{
    background-color: #eeeeee;
    // position: sticky;
    h2{
        padding: 13px 148px;
        font-size: 17px;
        font-weight: 400;
    }
    
}
