.memberCard {
    width: 133px;
    
    .membersImg{
        border-radius: 20px;
    }
img{
    width: 100%;
    border-radius: 20px 20px 20px 0;
}
    .memberName {
        width: 140px;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--member-name-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .company {
        width: 130px;
        font-size: 0.75rem;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--black-color);
    }
}